{% extends "core/base.twig" %}

{% block cp_content %}

    <h1 class="page-header">{{ CP.Title }}</h1>

    {% include "core/form-errors.twig" %}

    <form class="form-horizontal" action="{{ Form.Action }}" method="post">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Category name" size="40" maxlength="125">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Permalink</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="permalink" name="permalink" placeholder="Permalink" size="40" maxlength="125">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" name="description" rows="5" placeholder="Area description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="items-per-page" class="col-sm-2 control-label">Items per page</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="items-per-page" name="items-per-page" size="40" maxlength="125">
            </div>
        </div>
        <div class="form-group">
            <label for="parent-id" class="col-sm-2 control-label">Parent</label>
            <div class="col-sm-10">
                <select class="form-control" id="parent-id" name="parent-id">
                    <option value="0">None (top-level)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="sort-rule" class="col-sm-2 control-label">Sort by</label>
            <div class="col-sm-10">
                <select class="form-control" id="sort-rule" name="sort-rule">
                    <option value="create_date|desc">Date, newest first</option>
                    <option value="create_date|asc">Date, oldest first</option>
                    <option value="article_title|asc">Title A-Z</option>
                    <option value="author_name|asc">Author A-Z</option>
                    <option value="random|asc">Random</option>
                    <option value="custom|asc">Custom</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>

    <script type="text/javascript">
        $(document).ready(function() {
            {% if Form.Errors %}
            {% for Item in Form.Errors %}
                {% if Item.Field %}
                $('#{{ Item.Field }}').parent().parent().addClass('has-error');
                {% endif %}
            {% endfor %}
            {% endif %}
            {% if Form.Prefill %}
            {% for Item in Form.Prefill %}
                $('#{{ Item.Field }}').val('{{ Item.Value }}');
            {% endfor %}
            {% endif %}
        });
    </script>
{% endblock cp_content %}