<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Page.Title }} | {{ CMS.Settings.SiteTitle }}</title>
    {{ cmsBlock('header')|raw }}
    <!-- Add your own custom header code below -->
    <link href="{{ URL.ThemeRoot }}blog.css" rel="stylesheet">
</head>
<body>

{#
<div id="{{ Page.WrapperId }}" class="{{ Page.WrapperClass }}">
#}

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            {{ cmsBlock('nav.primary')|raw }}
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">{{ Page.Title }}</h1>
        <p class="lead blog-description">
            {% block cms_page_description %}{% endblock cms_page_description %}
        </p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            {% block cms_content %}{% endblock cms_content %}

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About {{ CMS.Settings.SiteTitle }}</h4>
                <p>{{ CMS.Settings.SiteDesc }}</p>
            </div>
            <div class="sidebar-module">
                <h4>Search</h4>
                {{ cmsBlock('search')|raw }}
            </div>
            <div class="sidebar-module sidebar-module-inset">
                <h4>Subareas</h4>
                {{ cmsBlock('area.subareas')|raw }}
            </div>
            <div class="sidebar-module">
                <h4>Secondary Nav</h4>
                {{ cmsBlock('nav.secondary')|raw }}
            </div>
            <div class="sidebar-module">
                <h4>Tertiary Nav</h4>
                {{ cmsBlock('nav.tertiary')|raw }}
            </div>
            <div class="sidebar-module sidebar-module-inset">
                <h4>Welcome {{ Login.User.Name }}!</h4>
                <ul>
                    <li><a href="{{ URL.SiteRoot }}cms/archives">Archives</a></li>
                    <li><a href="{{ URL.SiteRoot }}register.php">Register</a></li>
                    <li><a href="{{ URL.SiteRoot }}login.php">Login</a></li>
                    <li><a href="{{ URL.SiteRoot }}cp/index.php">Control Panel</a></li>
                    <li><a href="{{ URL.SiteRoot }}logout.php">Logout</a></li>
                    <li><a href="{{ URL.SiteRoot }}tagmap.php">Tag Map</a></li>
                </ul>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<div class="blog-footer">
    <p>
        Copyright &copy; 2014 {{ CMS.Settings.SiteTitle }} |
        Blog template by <a href="https://twitter.com/mdo">@mdo</a> |
        Powered by <a href="http://www.injader.com" title="Injader">Injader</a> |
        <a href="#">Back to top</a>
    </p>
</div>

</body>
</html>